<p id="notice"><%= notice %></p>
<div class="title">
    <%= @post.title%>
</div>
<div class="text">
    <%= @post.body%>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<p>Comments</p>
<%= render "comments/form2" %>
<%= render "comments/index" %>
