<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PETForum" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">PETForum</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Posts', '/posts/' %></li>
            <% if user_signed_in? %>
            <li><%= link_to 'Log out', '/users/sign_out', :method => :delete %></li>
            <li><%= link_to 'Edit', edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'Log in', new_user_session_path %></li> 
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Our contacts</h3>
            <ul class="nav nav-list">
              <li class="nav-header">We are in:</li>
              <li><%= link_to "Telegram", "#"  %></li>
              <li><%= link_to "Twitter", "#"  %></li>
              <li><%= link_to "Instagram", "#"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; PETForum 2021</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
